<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Get ready to battle!</h1>
		<p>Type your names in here</p>
		<form method='post'>
			<input id='first-player'type='text' placeholder='First player' name='first_person_name'>
			<input id='second-player'type='text' placeholder='Second player' name='second_person_name'>
			<input  id='submit-button' type='submit' value='Submit!'>
		</form>
	</body>
</html>
